# Python
__pycache__/
*.py[cod]

# Virtualenvs
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Django
*.log
*.sqlite3
media/
staticfiles/
static/

# IDEs & OS
.vscode/
.DS_Store
Thumbs.db

# Environment files
.env
.env.*
!.env.oreno

# Docker
.dockerignore

# Git
.git/