# Virtual environment directories
.venv/
venv/
env/

# SQLite database files
db.sqlite3
config/db.sqlite3

# Database dump files
*.dump

# Compiled Python files and caches
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]

# IDEs, OS files
.vscode/
.DS_Store

# Logs and temporary files
config/logs/
*.log

# Other unnecessary files
media/
/staticfiles/
staticfiles/

oreno-backup.git/

# Environment files
.env.oreno
.env.validations
.env.validations.local
