{% extends 'base.html' %}
{% block title %}Requirement: {{ object.requirement_id }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2>Requirement: {{ object.requirement_id }} - {{ object.title }}</h2>
    <dl class="row">
        <dt class="col-sm-3">Requirement ID</dt><dd class="col-sm-9">{{ object.requirement_id }}</dd>
        <dt class="col-sm-3">Title</dt><dd class="col-sm-9">{{ object.title }}</dd>
        <dt class="col-sm-3">Description</dt><dd class="col-sm-9">{{ object.description|safe }}</dd>
        <dt class="col-sm-3">Regulatory Framework</dt><dd class="col-sm-9">{{ object.regulatory_framework }}</dd>
        <dt class="col-sm-3">Policy Document</dt><dd class="col-sm-9">{{ object.policy_document }}</dd>
        <dt class="col-sm-3">Policy Section</dt><dd class="col-sm-9">{{ object.policy_section }}</dd>
        <dt class="col-sm-3">Jurisdiction</dt><dd class="col-sm-9">{{ object.jurisdiction }}</dd>
        <dt class="col-sm-3">Mandatory</dt><dd class="col-sm-9">{{ object.mandatory|yesno:"Yes,No" }}</dd>
        <dt class="col-sm-3">Tags</dt><dd class="col-sm-9">{{ object.tags }}</dd>
    </dl>
    <a href="{% url 'compliance:requirement_update' object.pk %}" class="btn btn-warning">Edit</a>
    <a href="{% url 'compliance:requirement_delete' object.pk %}" class="btn btn-danger">Delete</a>
    <a href="{% url 'compliance:requirement_list' %}" class="btn btn-secondary">Back to List</a>
</div>
{% endblock %} 