{% extends 'base.html' %}
{% block title %}Document Details{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm mb-3">
        <div class="card-header bg-info text-white">
          <h4 class="mb-0">Document Details</h4>
        </div>
        <div class="card-body">
          <dl class="row">
            <dt class="col-sm-4">Request</dt>
            <dd class="col-sm-8"><a href="{% url 'document_management:documentrequest-detail' document.document_request.pk %}">{{ document.document_request.request_name }}</a></dd>
            <dt class="col-sm-4">File</dt>
            <dd class="col-sm-8"><a href="{{ document.file.url }}" class="btn btn-outline-success" download>Download</a></dd>
            <dt class="col-sm-4">Uploaded By</dt>
            <dd class="col-sm-8">{{ document.uploaded_by|default:'External' }}</dd>
            <dt class="col-sm-4">Uploaded At</dt>
            <dd class="col-sm-8">{{ document.uploaded_at }}</dd>
          </dl>
          <div class="mb-3">
            <a href="{% url 'document_management:document-edit' document.pk %}" class="btn btn-outline-primary">Edit</a>
            <a href="{% url 'document_management:document-delete' document.pk %}" class="btn btn-outline-danger">Delete</a>
            <a href="{% url 'document_management:document-list' %}" class="btn btn-secondary ms-2">Back to List</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} 