{% extends 'base.html' %}
{% block title %}Invalid or Expired Link{% endblock %}
{% block content %}
<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-danger mt-4">
        <h4 class="alert-heading">Invalid or Expired Link</h4>
        <p>The document upload link you used is invalid or has expired.</p>
        <hr>
        <p class="mb-0">If you believe this is an error, please contact the person who requested the document or your organization administrator.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %} 