{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}{% if object %}Edit{% else %}Add{% endif %} Issue Retest{% endblock %}
{% block extra_head %}
  {{ form.media }}
{% endblock %}
{% block content %}
<div class="modal-header">
  <h5 class="modal-title">{% if object %}Edit{% else %}Add{% endif %} Issue Retest</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form method="post" enctype="multipart/form-data" novalidate id="issueRetestForm" action="{% if object %}{% url 'audit:issueretest-update' object.pk %}{% else %}{% url 'audit:issueretest-add' issue_pk=issue.pk %}{% endif %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-end mt-4">
      <button type="submit" class="btn btn-success">Save</button>
      <a href="{% url 'audit:issue-detail' object.issue.pk %}" class="btn btn-secondary me-2">Cancel</a>
    </div>
  </form>
</div>
{% endblock %} 