{% load crispy_forms_tags %}
{% load static %}
{{ form.media }}
<div class="modal-header">
  <h5 class="modal-title">{% if object %}Edit{% else %}Add{% endif %} Issue</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form method="post" enctype="multipart/form-data" novalidate id="issueForm"
        hx-post="{% if object %}{% url 'audit:issue-update' object.pk %}{% else %}{% if risk_pk %}{% url 'audit:issue-modal-add' risk_pk=risk_pk %}{% else %}{% url 'audit:issue-create' %}{% endif %}{% endif %}"
        hx-target="#modal-body"
        hx-swap="outerHTML">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-end mt-4">
      <button type="submit" class="btn btn-success">Save</button>
      <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>