{% load crispy_forms_tags %}
{% load static %}
<div class="modal-header">
  <h5 class="modal-title">{% if object %}Edit{% else %}Add{% endif %} Note</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form method="post" id="noteForm" hx-post="{% url 'audit:note-modal-add' content_type_id=content_type_id object_id=object_id %}" hx-target="#globalModal .modal-body" hx-swap="innerHTML">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-end mt-4">
      <button type="submit" class="btn btn-primary">Save</button>
      <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal" id="note-cancel-btn" data-engagement-url="{% url 'audit:engagement-detail' engagement_pk %}">Cancel</button>
    </div>
  </form>
</div>
<script src="{% static 'js/note_modal_form.js' %}" nonce="{{ request.csp_nonce }}"></script> 