{% load crispy_forms_tags %}
{% load i18n %}

<div class="modal-header">
  <h5 class="modal-title">{% if form.instance.pk %}Edit Procedure Result{% else %}Add Procedure Result{% endif %}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <form method="post" id="procedureresultForm"
        hx-post="{% if object %}{% url 'audit:procedureresult-modal-edit' object.pk %}{% else %}{% url 'audit:procedureresult-modal-add' procedure_pk=procedure_pk %}{% endif %}"
        hx-target="#procedure-results-list"
        hx-swap="outerHTML">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-end mt-4">
      <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
      <button type="button" class="btn btn-secondary ms-2" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
    </div>
  </form>
</div> 